body {
	padding: 0;
	margin: 0;
	background: #6c6c6c;
}

#overlay-wrapper {
	position: relative;
	width: 1920px;
	height: 97px;
	background: #19181A;
}

#sponsor-box {
	position: absolute;
	top: 0;
	right: 0;
	height: 100%;
	width: 209px;
	background: #fafafa;
}

#main-bar {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 1711px; /* 1920 - sponsor_box */
}

#goal-bar {
	position: absolute;
	top: 0;
	left: 0;
	height: 29px;
	width: 100%;
	background: #5F780D;
}

#info-bar-wrapper {
	position: absolute;
	top: 29px;
	left: 0;
	height: calc(100% - 29px); /* 29 (goal bar) */
	width: 100%;
}

#info-bar {
	position: absolute;
	top: 0;
	left: 94px;
	height: calc(100% - 24px);
	padding: 12px 0;
}

img#mc_logo {
	position: absolute;
	top: 0;
	left: 10px;
	height: 100%;
}

#marathon_logo {
	display: inline-block;
	height: 100%;
	width: 209px;
}

#marathon_logo div {
	color: #fff;
	font-size: 1.6em;
	position: absolute;
	top: 20px;
	width: 100%;
}

#marathon_logo img {
	height: 100%;
}

#section-container {
	height: 100%;
	display: inline-block;
}

#section-container div.section {
	position: relative;
	display: inline-block;
	height: 100%;
	width: 300px;
	border-left: 8px solid #fcfcfc;
	padding-left: 10px;
}

#section-container div.section ~ #section-container div.section {
	margin-left: 20px;
}

#section-container div.section-label {
	position: absolute;
	top: -3px;
	text-transform: uppercase;
	color: white;
	font-size: 1.3em;
}

#section-container div.section-label::after {
	content: ':';
}

#section-container div#section-1 {
	width: 220px;
}

#section-container div#section-2 {

}

#section-container div#section-3 {

}

#section-container div#section-4 {
	width: 380px;
}
