:root {
	/* Blues -- Too much blue */
	/*--scheduleBG1: #3973BF;
	--scheduleBG2: #4284DB;
	--scheduleBG3: #4C9AFF;*/
	/* Greens -- Only if donation bar changes */
	/*--scheduleBG1: #0F5C25;
	--scheduleBG2: #148033;
	--scheduleBG3: #168C38;*/
	/* Orange? -- Ehhh */
	/*--scheduleBG1: #A34802;
	--scheduleBG2: #B34E02;
	--scheduleBG3: #F06902;*/
	/* Purple */
	/*--scheduleBG1: #A100BA;
	--scheduleBG2: #AF00C9;
	--scheduleBG3: #BE00DB;*/
	/* Tan */
	/*--scheduleBG1: #8C7037;
	--scheduleBG2: #9C7C3D;
	--scheduleBG3: #AD8A44;*/
	/* Red/Orange/Yellow */
	--scheduleBG1: #B81F16;
	--scheduleBG2: #B85420;
	--scheduleBG3: #B88228;
}

body {
	padding: 0;
	margin: 0;
	background: #fff;
	height: 167px;
}

body.full {
	height: 1080px;
}

#overlay-wrapper {
	position: absolute;
	top: 0;
	left: 0;
	width: 1920px;
	height: 97px;
	background: #19181A;
	z-index: 10000000;
	overflow: hidden;
}

.bottom-bar #overlay-wrapper {
	top: auto;
	bottom: 0;
}

#goal-bar {
	position: relative;
	width: 100%;
	text-align: center;
	display: flex;
	align-items: center;
	overflow: hidden;
}

#goal-bar-progress {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 10;
	overflow: hidden;
	white-space: nowrap;
	transition: width .6s ease;
	display: flex;
	align-items: center;
	height: 100%;
}

#goal-progress-text {
	position: absolute;
	width: 1711px;
}

#goal-text {
	position: absolute;
	width: 1711px;
}


#suppBox {
	position: absolute;
	top: 97px;
	left: 0;
	width: 1920px;
	height: 70px;
	transition: top .6s linear, bottom .6s linear;
	/*background: hotpink;*/
	overflow: hidden;
}

#suppBox.hidden {
	top: 0;
}

#suppBox .supp-message {
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
}

#suppBox .supp-message .schedule-wrapper,
#suppBox .supp-message .ticker-line {
	height: 100%;
}

#suppBox .schedule {
	height: 100%;
	display: flex;
}

#suppBox .schedule-icon {
	position: absolute;
	height: 70px;
	width: 70px;
	top: 0;
	left: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 10;
	background: var(--scheduleBG1);
}

#suppBox .schedule-icon i {
	color: white;
	font-size: 3em;
}

#suppBox .schedule > div {
	height: 100%;
	width: 100%;
	display: flex;
	align-items: center;
	color: white;
	padding-left: 90px;
	font-size: 2em;
	transition: left 2s cubic-bezier(0.4, 0, 0.2, 1);
	position: relative;
	left: -110%;
}

/* Not needed? */
/*#suppBox .count-1 .schedule > div { width: 100%; }*/
/*#suppBox .count-2 .schedule > div { width: 50%; }*/
/*#suppBox .count-3 .schedule > div { width: 33%; }*/

#suppBox .shown .schedule > div {
	left: 0;
}

#suppBox .shown .schedule > div:after {
	content: ' ';
	width: 50px;
	height: 50px;
	position: absolute;
	right: -25px;
	transform: rotate(45deg);
}

#suppBox .schedule #schedule-now {
	background: var(--scheduleBG1);
	z-index: 5;
}

#suppBox .schedule #schedule-now:after {
	z-index: 4;
	background: var(--scheduleBG1);
}

#suppBox .schedule #schedule-next {
	background: var(--scheduleBG2);
	z-index: 3;
	transition-delay: 1s;
}

#suppBox .schedule #schedule-next:after {
	background: var(--scheduleBG2);
	z-index: 2;
}

#suppBox .schedule #schedule-later {
	background: var(--scheduleBG3);
	z-index: 1;
	transition-delay: 2s;
}

#suppBox .schedule #schedule-later:after {
	background: var(--scheduleBG3);
}

#suppBox .ticker-line {
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	display: flex;
	align-items: center;
	/*padding-left: 90px;*/
	/*font-size: 1.75em;*/
	font-size: 1.5em;
	background: #656565;
	color: #fff;
}

#suppBox .ticker-icon {
	position: absolute;
	top: 18px;
	left: 23px;
	font-size: 1.4em;
}

#suppBox .ticker-message {
	padding: 0 20px 0 90px;
}

.bottom-bar #suppBox {
	top: initial;
	bottom: 97px;
}

.bottom-bar #suppBox.hidden {
	bottom: 0;
}

#sponsor-box {
	position: absolute;
	top: 0;
	right: 0;
	height: 100%;
	width: 209px;
	background: #fff;
	display: flex;
	align-items: center;
}

#sponsor-box div {
	position: absolute;
	left: 0;
}

#sponsor-box img {
	max-width: 100%;
	height: auto;
}

#main-bar {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 1711px; /* 1920 - sponsor_box */
}

#goal-bar {
	position: absolute;
	top: 0;
	left: 0;
	height: 29px;
	width: 100%;
	background: #5F780D;
}

#info-bar-wrapper {
	position: absolute;
	top: 29px;
	left: 0;
	height: calc(100% - 29px); /* 29 (goal bar) */
	width: 100%;
}

#info-bar {
	position: absolute;
	top: 0;
	left: 94px;
	height: calc(100% - 24px);
	padding: 12px 0;
}

img#mc_logo {
	position: absolute;
	top: 0;
	left: 10px;
	height: 100%;
}

#marathon_logo {
	display: inline-block;
	height: 100%;
	width: 209px;
}

#marathon_logo div {
	color: #fff;
	font-size: 1.6em;
	position: absolute;
	top: 20px;
	width: 100%;
}

#marathon_logo img {height: 100%;}
#section-container {
	height: 100%;
	display: inline-block;
}
#section-container div.section {
	position: relative;
	display: inline-block;
	height: 100%;
	width: 300px;
	border-left: 8px solid #fcfcfc;
	padding-left: 10px;
}
#section-container div.section ~ #section-container div.section {margin-left: 20px;}
#section-container div.section-label {
	position: absolute;
	top: -3px;
	text-transform: uppercase;
	color: white;
	font-size: 1.3em;
}
#section-container div.section-label::after {content: ':';}
#section-container div#section-1 {width: 220px;}
#section-container div#section-4 {width: 380px;}
