body {
	margin: 0;
	padding: 0;
}
#goal_bar {
	position: relative;
	width: 100vw;
	text-align: center;
	display: flex;
	align-items: center;
	overflow: hidden;
}

#goal_bar_progress {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 10;
	overflow: hidden;
	white-space: nowrap;
	transition: width .6s ease;
	display: flex;
	align-items: center;
}

#goal_progress_text {
	position: absolute;
	width: 100vw;
}

#goal_text {
	position: absolute;
	width: 100vw;
}
